body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #ECDFCC;
	background-color: #1E201E;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: #ECDFCC;
  background-color: #1E201E ;
}

a {
	color: #2574A9;
}